<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="LOG_DIR">logs</Property>
        <Property name="LOG_NAME">db_testbench</Property>
        <!-- https://logging.apache.org/log4j/2.x/manual/layouts.html#PatternLayout -->
        <Property name="CONS_PATTERN">%d{HH:mm:ss.SSS} %-5level %c{1} - %msg%n</Property>
        <Property name="FILE_PATTERN">%d{HH:mm:ss.SSS} %-5level %c{2} - %msg%n</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${CONS_PATTERN}"/>
        </Console>
        <!-- https://logging.apache.org/log4j/2.x/manual/appenders.html#FileAppender -->
        <File name="File"
              fileName="${LOG_DIR}/${LOG_NAME}.log"
              append="false">
            <PatternLayout pattern="${FILE_PATTERN}"/>
        </File>
        <File name="SqlDataFile"
              fileName="${LOG_DIR}/${LOG_NAME}_sql.log"
              append="false">
            <PatternLayout pattern="%msg%n"/>
        </File>
        <File name="CypherDataFile"
              fileName="${LOG_DIR}/${LOG_NAME}_cypher.log"
              append="false">
            <PatternLayout pattern="%msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="test.sqlLogger" level="debug" additivity="false">
            <AppenderRef ref="SqlDataFile"/>
        </Logger>
        <Logger name="test.cypherLogger" level="debug" additivity="false">
            <AppenderRef ref="CypherDataFile"/>
        </Logger>
        <Logger name="homebeach" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Logger>
        <Logger name="petays" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>